# Ignore Python cache
__pycache__/

# Ignore Django migrations
migrations/

# Ignore media files
media/

# Ignore environment variables
.env

# Ignore SQLite database
db.sqlite3

# Ignore coverage report
.coverage

management/
populate_log.txt
venv