# Ignore Python cache
__pycache__/

# Ignore Django migrations
migrations/

# Ignore media files


# Ignore environment variables
.env

# Ignore SQLite database


# Ignore coverage report
.coverage

management/
populate_log.txt
venv